body
{
    color: white;
    background-image: url ("http://www.guns.com/wp-content/uploads/2014/02/arson.jpg");
}

p#1 {
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    width: 20%;
    text-align: center;
    position: relative;
    left: 600px;
    top: 100px;
}

p#2 {
    position: relative;
    left: 10 px;
    top: 700 px;
}
